global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 4096
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend booking_frontend
    bind *:80
    default_backend booking_backend

backend booking_backend
    balance roundrobin
    option httpchk GET /booking/actuator/health
    http-check expect status 200

    server tomcat-node1 127.0.0.1:8081 check inter 5s fall 3 rise 2
    server tomcat-node2 127.0.0.1:8082 check inter 5s fall 3 rise 2

listen stats
    bind *:9000
    stats enable
    stats uri /haproxy-stats
    stats refresh 10s
